.tool-copy-text {
	font-size: 14px;
}

.tool-copy-modal {
	width: calc(80% - var(--tool-menu-width)) !important;
}

.tool-copy-header {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	position: relative;
}

.tool-copy-icon-container {
	position: relative;
}

.tool-copy-icon-container::before {
	position: absolute;
	left: 50%;
	padding-right: 7px;
	transform: translate(-50%, -100%);
	content: "Copied!";
	visibility: hidden;
	font-size: 14px;
	opacity: 0;
	transition: all 250ms;
}

.tool-copy-icon-container.active:before, .tool-copy-icon-container.active > .tool-copy-icon {
  opacity: 1;
  visibility: visible;
}

.tool-copy-icon {
	margin-bottom: 7px;
	margin-right: 7px;
	pointer-events: none;
	opacity: 0.25;
	transition: all 250ms;
}

.tool-copy-icon-container:hover {
	cursor: pointer;
}

.tool-copy-icon-container:hover .tool-copy-icon {
	opacity: 1;
}