.formats {
	margin-left: 5px;
}

.formats button {
	background: transparent;
	border-radius: 5px;
	margin-right: 20px;
	border: 1px solid var(--tool-black);
	opacity: 0.25;
	box-sizing: border-box !important;
}

.formats button.active {
	border: 1px solid var(--tool-black);
	box-shadow: 0 0px 2px #00000099;
	opacity: 1;
}

.formats .desktop {
	height: 50px;
	width: 70px;
}

.formats .tablet {
	height: 45px;
	width: 35px;
}

.formats .mobile {
	height: 36px;
	width: 20px;
}
